.header {
    width: 1024px; 
    background-image: url(background.jpg);
    background-size: cover;
    background-position-y: 34%;
    padding: 70px 0px 10px 0px;
}

.game-title {
    font-size: 32px;
    color: white;;
    text-decoration: bolder;
    opacity: 0.5;
}